LOG_CONF_FILE="config/logging.toml"

DB__HOST="localhost"
DB__PORT=5432
DB__USER="root"
DB__PASSWORD="root"
DB__DATABASE="core"

OPENALEX__API_KEY=


OPENALEX__SOLR_ENDPOINT="http://localhost:8983"
OPENALEX__SOLR_COLLECTION="openalex"
#OPENALEX__SOLR_USER=
#OPENALEX__SOLR_PASSWORD=

OPENALEX__SNAPSHOT_DIR=
OPENALEX__SOLR_BIN=
OPENALEX__SOLR_HOME=
OPENALEX__SOLR_HOST="127.0.0.1"
OPENALEX__SOLR_PORT=8983
OPENALEX__SOLR_ZOO_PORT=9983
